.container{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}
#inputHere{
background-color: white;
border-top-left-radius:2em;
border-top-right-radius:2em;
color: black;
min-height: 50px;
  max-width: 300px;


}
.backLayer{
  background: linear-gradient(120deg, green, green 20%, orange);
  min-height:1000px;
}

#calculator{
  background-color: grey;
  max-width: 300px;
  border-bottom-left-radius:2em;
  border-bottom-right-radius:2em;



/* margin: -70px 0 0 -170px; */

}
