/*.col{
  border: 1px solid white;
  padding: 2px;

}*/
@font-face {
    font-family: "Rock-It";
    src: url('rock-it.regular.ttf') format("truetype");
}
.row{
  /*margin: 5%;*/
}
body{
  background: url("musi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  font-family: 'Kanit', sans-serif;
}
/*kbd {
padding:0.1em 0.6em;
border:1px solid #ccc;
font-size:11px;
font-family:Arial,Helvetica,sans-serif;
background-color:#f7f7f7;
color:#333;
-moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
-webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
display:inline-block;
margin:0 0.1em;
text-shadow:0 1px 0 #fff;
line-height:1.4;
white-space:nowrap;
}*/
h1{
    font-family: "Rock-It";
/*letter-spacing: 2px;*/
    /*padding: 50px;*/
    line-height: 100px;
    font-size: 1.5rem;
}
div.surp{
  background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h4{
  font-size:0.9rem;

}

.kbd {/* White Keyboard Key Style by www.superwebtricks.com */
/*width: 18px;*/
display: inline-block;
color: #000;
margin:0 2px;
padding: 2px 5px;
font-size: 80%;

/*font-size:1em;*/
border:1px #fff;
-webkit-border-radius:3px;
    -moz-border-radius:3px;
              border-radius:3px;

background: #22c1c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*background:-webkit-gradient(
  linear,
  left top,
  right top,
  color-stop(0%, #fff),
  color-stop(25%, #fff)
/* White Keyboard Key Style by Showeblogin */);
/*background:-o-linear-gradient(left, #fff 0%, #fff 25%);
background:-moz-linear-gradient(left, #fff 0%, #fff 25%);
background:-webkit-linear-gradient(left, #fff 0%, #fff 25%);
background:-ms-linear-gradient(left, #fff 0%, #fff 25%);
background:linear-gradient(left, #fff 0%, #fff 25%);*/*/
-webkit-box-shadow:1px 0 1px 0 #999, 0 2px 0 2px lightGray, 0 2px 0 3px #666;
    -moz-box-shadow:1px 0 1px 0 #999, 0 2px 0 2px lightGray, 0 2px 0 3px #666;
             box-shadow:1px 0 1px 0 #999, 0 2px 0 2px lightGray, 0 2px 0 3px #666;
           }
.kbd:hover{
cursor:pointer;
	background: none;
	color: white;
	box-shadow: inset 0 0 0 3px white;

}
