@font-face {
    font-family: "Raleway";
    src: url('Raleway-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Sunshine Boulevard";
    src: url('Sunshine-Boulevard.ttf') format("truetype");
}
@font-face {
    font-family: "Moonhouse";
    src: url('moonhouse.ttf') format("truetype");
}
@font-face {
    font-family: "Sprinklescolors";
    src: url('Sprinklescolors.ttf') format("truetype");
}
body{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background-image: url("images/sun-opt.jpg");
  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  /*background-position: center;*/
  /*background-position-y: top;*/
  background-size: cover;
  /*max-width: 1110px;*/

}
.content{
  background-color:white;
}
li{
border:none;

}



a.nav-link{
  color:black;
}

/* The hero image */
#hero-image div.container {

  /*background-image: url("images/thongs-opt.jpg");
  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;*/
  /*background-repeat: no-repeat;
  /*background-position: center;*/
  /*background-position-y: top;*/
  /*background-size: cover;*/*/
  /*max-width: 1110px;*/*/

}
p{
  color: black;
  font-family: "Raleway";
}
div.alert.alert-light{
  background: none;
  color:white;
  text-align: center;
}
.caption{
  font-family: "Raleway";
  font-weight: bold;
}
ul.nav.justify-content-center {
  text-transform: uppercase;
}
/* Place text in the middle of the image */
.hero-text {

    text-align: center;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    color: white;
    opacity:100%;
    padding-top: 10rem;
    padding-bottom:  20rem;
    /*text-shadow: 2px 2px #333;*/

}
.btn{
  color:#7b1842;
  background-color:none;
  text-align:center;
  align-items: center;
  font-size: 22px;
  border:1px solid #7b1842;

}

.btn:hover{
background:none;
}
