
@font-face {
    font-family: "Sunshine Boulevard";
    src: url('Sunshine-Boulevard.ttf') format("truetype");
}
@font-face {
    font-family: "Moonhouse";
    src: url('moonhouse.ttf') format("truetype");
}
@font-face {
    font-family: "Sprinklescolors";
    src: url('Sprinklescolors.ttf') format("truetype");
}
body{
  font-family: "Raleway";
}
#landing{
  background-image: url("images/pine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  min-height: 1000px;
}

.caption a:hover{
  text-decoration: none;

}
.caption a:hover{
    color:brown;
}


li{
border:none;
}

a.nav-link{
  color:white;
}
a.nav-link:hover{
  color:brown;
}

p{
  color: black;
  font-family: "Raleway";
}


ul.nav.justify-content-center {
  text-transform: uppercase;
}

button a:hover{
  text-decoration: none;
  color: white;
}




/* Zoom In #1 */
img.img-fluid{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img.img-fluid:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  cursor: pointer;
}
