/*@font-face {
    font-family: "Raleway";
    src: url('Raleway-Regular.ttf') format("truetype");
}*/
@font-face {
    font-family: "Sunshine Boulevard";
    src: url('Sunshine-Boulevard.ttf') format("truetype");
}
@font-face {
    font-family: "Moonhouse";
    src: url('moonhouse.ttf') format("truetype");
}
@font-face {
    font-family: "Sprinklescolors";
    src: url('Sprinklescolors.ttf') format("truetype");
}
body{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background-image: url("images/ocean.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*background-position: center;*/
  /*background-position-y: top;*/
  background-size: cover;
  /*max-width: 1110px;*/

}

.monster{
  background: rgba(0,0,0,0.5);
}
.content{
  background-color:white;
}
li{
border:none;

}
h4:hover{
  text-decoration: none;
  color: brown;
}


a.nav-link{
  color:white;
}
a.nav-link:hover{
  color:brown;
}
/* The hero image */
#hero-image div.container {

  /*background-image: url("images/thongs-opt.jpg");
  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;*/
  /*background-repeat: no-repeat;
  /*background-position: center;*/
  /*background-position-y: top;*/
  /*background-size: cover;*/*/
  /*max-width: 1110px;*/*/

}
p{
  color: black;
  font-family: "Raleway";
}
div.alert.alert-light{
  background: none;
  color:white;
  text-align: center;
}
/*h4{
  font-family: "Raleway";
  font-weight: 800;
}*/
ul.nav.justify-content-center {
  text-transform: uppercase;
}
/* Place text in the middle of the image */
div.hero-text {

    text-align: center;
    color: white;
padding-top: 5px;
padding-bottom: : 5px;
    margin-top: 10rem;
    margin-bottom:  20rem;
    /*text-shadow: 2px 2px #333;*/

}
btn.btn-outline-light:hover{
  color:black;
}
