
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Billy Ohio';
    src: url('fonts/Billy Ohio.ttf') format('truetype');
  }
body {
font-family: 'Nunito', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.7;
color:white;
}

#landing{
    /* view height 100% of the viewport */
    height: 100%;
    /* background-image:
         url("img/sky1.jpg"); */
    background-size: cover;
    /* background-position: 
    position: relative; */
 
}
a.mt-3.button.btn.button-white.button-animated{
    color:white;
}
/* .logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
} */
/* .logo{
    height: 200px;
} */
/* .text-box{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */
  .heading-primary{
   backface-visibility: hidden;
} 
.heading-primary-main{
    display: block;
    font-size: 80px;
    /* letter-spacing: 10px; */
    font-family: "Billy Ohio";
    animation-name: moveInLeft;
    animation-duration: 1s;
}
  
 .heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    animation: moveInRight 1s ease-out;
 } 

@keyframes moveInLeft{
    0% {
opacity: 0;
transform: translateX(-100px);
    }
    80%{
transform: translateX(20px);
    }
    100% {
opacity: 1;
transform: translate(0);
    }
}
@keyframes moveInRight{
    0% {
opacity: 0;
transform: translateX(100px);
    }
    80%{
transform: translateX(-20px);
    }
    100% {
opacity: 1;
transform: translate(0);
    }
}
/* pseudo classes */
.button:link,
.button:visited {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
display: inline-block; 
border-radius: 200px;
transition: all .2s;
position: relative;
font-weight: 700;
}

.button:hover{
    /* goes up, hence neg val */
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.button:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.button-white{
    background-color: #00207f;
    color: white;
}

.button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 200px;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all .4s;

}
.button-white::after{
background-color:#00207f;
}

.button:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}

@keyframes moveInBottom{
    0% {
opacity: 0;
transform: translateY(30px);
    }
    100% {
opacity: 1;
transform: translate(0);
    }
}
.button-animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
/* .scroll {
    position:absolute;
 
    bottom:0px;
    right:25%;
    left:50%;


} */
#video-background {
    /*  making the video fullscreen  */
      position: fixed;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      z-index: -100;
    }