
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="fixed-bottom card bg-success ml-auto " style="max-width: 18rem;">
        <div class="card-body text-white">
          <p class="card-text "><span style="font-family: 'Concert One', cursive;">Aww App</span> was designed and coded by Sonia Parker, inspired by Colt Steele's WebDevCamp course on Udemy.</p>
        </div>
        <div class="card-footer bg-success text-white">&copy; Sonia Parker, 2017</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
