

* {
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}


@font-face {
    font-family: "RussianLand";
    src: url('fonts/RussianLand.ttf') format("truetype");
}
@font-face {
    font-family: "Rock-It";
    src: url('rock-it.regular.ttf') format("truetype");
}
@font-face {
    font-family: "Rock-It";
    src: url('rock-it.regular.ttf') format("truetype");
}
@font-face {
    font-family: "Rock-It";
    src: url('rock-it.regular.ttf') format("truetype");
}

#landing {
  background-image: url("img/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
  width: 100%;
}

  #landing .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    min-height: 1000px; }

    #menu-content {
      background-image: url("img/newPattern.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      min-height: 1000px;
      width: 100%;
    }
    #contact-content {
      background-image: url("img/newPattern.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      min-height: 1000px;
      width: 100%;
    }
.navbar-light .navbar-brand{
  color:rgb(237, 28, 36);
}
.navbar-light .navbar-brand.scroll-down{
  color:white;
}
