* {
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}


#landing {
  background-image: url("img/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
  width: 100%;
}

  #landing .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    min-height: 1000px; }
