*{
  margin: 0;
  padding: 0;
}


#onlinePlayers {
  background-color: #24522d;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#offlinePlayers {
  background-color: #2d3745;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
