$primary: rgb(84, 84, 84);
$primary-overlay: rgba(255, 255, 255, 0.6);
$secondary: rgb(187, 45, 40);


.brandy{
  font-family: 'Chewy', cursive;
}

body{
  margin-top: 110px;
  font-family: 'Amaranth', sans-serif;
}
.btn-primary{
  background: $secondary;
  border:none;
}
.navbar{
  box-shadow:2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item{
    font-size:1.4rem;
    padding-right: 20px;
  }
}
#showcase{
  position:relative;
  background: url("../images/lick.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 650px;

  .primary-overlay{
    background:$primary-overlay;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
}
.info-header{
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#authors{
  img{
    margin-top: -50px;
  }
  .fa{
    font-size: 25px;
  }
  .card:hover{
    background: $primary;
    color:white;

    .fa{
      color:white;
    }
  }
}
