@font-face{
  font-family: 'Forum-Regular';
  src: url('Forum-Regular.otf') format('opentype');
}

html{
  height: 100%;
}

body{
  background: url("normal.jpg");
	  /*background: url("https://source.unsplash.com/KR2mdHJ5qMg");*/
  background-size: cover;
  /*background-position: center;*/
  background-repeat: no-repeat;
  font-family: 'Forum-Regular', sans-serif;
}
.jumbotron{
margin-top:15%;
text-align: center;
background: rgba(0, 0, 0, 0.5);
color:white;
}

#data, #weather, #temperature{
  font-weight: 800;
  font-size: 20px;
}


.jumbotron p{
  font-size: 26px;
