.myForm{
  align-items: center;
  text-align: center;
  padding:5%;
  background-color: #677b9e;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
  color: white;
  /*width: 50%;*/
}
.focusedInput {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}
.styled{
  background: beige;
  color: black;

}
.info{
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* This is mostly intended fo
